.idea

# Ignore build output
StealAllTheCats.WebApi/bin
StealAllTheCats.Domain/bin
StealAllTheCats.Application/bin
StealAllTheCats.Infrastructure/bin
StealAllTheCats.WebApi/obj
StealAllTheCats.Domain/obj
StealAllTheCats.Application/obj
StealAllTheCats.Infrastructure/obj

# Ignore NuGet packages
packages/
